html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*background-image: url(/assets/background2.jpg);*/
}

header {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    text-align: center;
    margin: 30px;
    color: #8B0000;
    font-weight: bold;
}

.player {
    display: revert;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    border-radius: 15px;
    color: #8B0000;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    width: 230px;
}

.player-win {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    border-radius: 15px;
    color: #007bff;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
}

.currentPlayer {
    background-color: #8B0000;
    color: #EEE8AA;
}

#winner {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: #8B0000;
    text-align: center;
    margin: 20px;
}

.board {
    width: 1050px;
    height: 260px;
    border: 8px solid #8B0000;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    background-image: url(/assets/woodbackground4.jpg);
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pod {
    font-family: 'Cinzel', serif;
    position: relative;
    border: 3px solid #8B0000;
    border-radius: 50%;
    border-spacing: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    color: #8B0000;
    font-size: 50px;
}

.pod:hover, #buttonDiv:hover {
    background-color: #8B0000;
    color: #EEE8AA;
    cursor: pointer;

}

.pod.lock:hover {
    color: #8B0000;
    cursor: not-allowed;

}

.mancala {
    font-family: 'Cinzel', serif;
    border: 3px solid #8B0000;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 100px;
    margin: 15px 10px;
    color: #8B0000;
    font-size: 50px;
}

#mancala2 {

    float: left;
}

#mancala1 {
    float: right;
}

.plusOne {
    font-family: 'Cinzel', serif;
    color: #8B0000;
    font-size: 80px;
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.rows {
    margin: auto;
}

.restart-div {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin: 10px auto;
    color: #EEE8AA;
    border-radius: 15px;
    cursor: pointer;
}

.restart-div button{
    border-radius: 8px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}